[language-server.scls]
command = "simple-completion-language-server"

[language-server.scls.config]
max_completion_items = 20
feature_paths = true
feature_unicode_input = true
feature_words = true

[language-server.typos]
command = "typos-lsp"
environment = {"RUST_LOG" = "error"}
config.config = "~/git/lens/provision/config/typos.toml"
config.diagnosticSeverity = "Warning"

[language-server.phpactor]
command = "phpactor.phar"
args = ["language-server"]

[language-server.llm-ls]
command = "llm-ls"
timeout = 5

[language-server.amber-lsp]
command = "amber-lsp"

[language-server.actions-language-server]
command = "actions-languageserver"
args = ["--stdio"]

[[language]]
name = "amber"
scope = "source.ab"
file-types = ["ab"]
comment-token = ["//"]
indent = { tab-width = 4, unit = "    " }
language-servers = [ "amber-lsp", "scls", "typos" ]

[[grammar]]
name = "amber"
source = { git = "https://github.com/lens0021/tree-sitter-amber", rev = "43ae3c8a6ba197681c6164dc9c5bf6e07e9a8560" }
# source = { path = "/usr/local/git/tree-sitter-amber"}

[[language]]
name = "vrl"
scope = "source.vrl"
file-types = ["vrl"]
comment-token = ["#"]
indent = { tab-width = 2, unit = "    " }
language-servers = [ "scls", "typos" ]

[[grammar]]
name = "vrl"
source = { git = "https://github.com/belltoy/tree-sitter-vrl", rev = "274b3ce63f72aa8ffea18e7fc280d3062d28f0ba" }

[[language]]
name = "git-commit"
language-servers = [ "scls", "typos" ]

[[language]]
name = "github-action"
scope = "source.yaml.github-action"
language-servers = [ "actions-language-server", "yaml-language-server" ]
file-types = [{ glob = ".github/workflows/*.yaml" }, { glob = ".github/workflows/*.yml" }]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
grammar = "yaml"

[[language]]
name = "go"
language-servers = [ "gopls", "golangci-lint-lsp", "scls", "typos" ]

[[language]]
name = "hcl"
language-servers = [ "terraform-ls", "scls", "typos" ]

[[language]]
name = "javascript"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "markdown"
formatter = { command = 'prettier', args = ["--parser", "markdown"] }

[[language]]
name = "php"
language-servers = [ "phpactor", "scls", "typos" ]
roots = [ "travis.yml" ]

[[language]]
name = "rust"
auto-format = false
language-servers = [ "rust-analyzer", "scls", "typos" ]

[[language]]
name = "scheme"
language-servers = [ "scls", "typos" ]

[[language]]
name = "toml"
language-servers = [ "taplo", "scls", "typos" ]

[[language]]
name = "vrl"
scope = "source.vrl"
file-types = ["vrl"]
comment-token = ["#"]
indent = { tab-width = 2, unit = "    " }
language-servers = [ "scls", "typos" ]

[[grammar]]
name = "vrl"
source = { git = "https://github.com/belltoy/tree-sitter-vrl", rev = "274b3ce63f72aa8ffea18e7fc280d3062d28f0ba" }


[[language]]
name = "yaml"
language-servers = [ "yaml-language-server", "scls", "typos" ]
formatter = { command = 'yamlfmt', args = ["-in", "-formatter", "retain_line_breaks=true,trim_trailing_whitespace=true,eof_newline=true"] }
