{
    "default_path": "/home/nemo/.local/bin",
    "bins": {
        "/home/nemo/.local/bin/act": {
            "path": "/home/nemo/.local/bin/act",
            "remote_name": "act",
            "version": "v0.2.71",
            "hash": "1de2473a2c47f65194bb0d57a0c1f2e6d88a56ddd1f51b964d006ecc3dc87191",
            "url": "https://github.com/nektos/act",
            "provider": "github",
            "package_path": "act",
            "pinned": false
        },
        "/home/nemo/.local/bin/amber": {
            "path": "/home/nemo/.local/bin/amber",
            "remote_name": "amber",
            "version": "0.4.0-alpha",
            "hash": "eb007e671ff8598a7797cdfd0b835b18f70dbc6db273b2f165ed7bdc3d559605",
            "url": "https://github.com/amber-lang/amber/releases/tag/0.4.0-alpha",
            "provider": "",
            "package_path": "amber-x86_64-unknown-linux-gnu/amber",
            "pinned": false
        },
        "/home/nemo/.local/bin/bin": {
            "path": "/home/nemo/.local/bin/bin",
            "remote_name": "bin_0.19.1_linux_amd64",
            "version": "v0.19.1",
            "hash": "1207be420c4fb9e24de5604314d6b4b89834a843aed0f6651ac4659820bc7f17",
            "url": "https://github.com/marcosnils/bin/releases/tag/v0.19.1",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/bshchk": {
            "path": "/home/nemo/.local/bin/bshchk",
            "remote_name": "bshchk.linux.amd64",
            "version": "1.1",
            "hash": "c0b5b1d7062c7611f0ff78d5c645b7a01aa06e3c5e2f144b6d19158a952ed315",
            "url": "https://github.com/b1ek/bshchk",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/code-minimap": {
            "path": "/home/nemo/.local/bin/code-minimap",
            "remote_name": "code-minimap",
            "version": "v0.6.8",
            "hash": "3308e1a5565f6a2049fc0ff90119049264b2d23182a440e5156e76248e413131",
            "url": "https://github.com/wfxr/code-minimap",
            "provider": "github",
            "package_path": "code-minimap-v0.6.8-x86_64-unknown-linux-gnu/code-minimap",
            "pinned": false
        },
        "/home/nemo/.local/bin/delta": {
            "path": "/home/nemo/.local/bin/delta",
            "remote_name": "delta",
            "version": "0.18.2",
            "hash": "fad23fba816fec22fc808717a2b4e149d2651e76491f8dd020b4b82d7829a9da",
            "url": "https://github.com/dandavison/delta",
            "provider": "github",
            "package_path": "delta-0.18.2-x86_64-unknown-linux-gnu/delta",
            "pinned": false
        },
        "/home/nemo/.local/bin/eza": {
            "path": "/home/nemo/.local/bin/eza",
            "remote_name": "eza",
            "version": "v0.20.13",
            "hash": "e4a92e083930ce6bf89d1ce43faa79859d4892ce9b89844ea086e58cde6ed5e2",
            "url": "https://github.com/eza-community/eza/releases/tag/v0.20.13",
            "provider": "",
            "package_path": "./eza",
            "pinned": false
        },
        "/home/nemo/.local/bin/glab": {
            "path": "/home/nemo/.local/bin/glab",
            "remote_name": "glab",
            "version": "v1.51.0",
            "hash": "c15635435f2f56a6cf3091fb5cf0b6e3b8255cc2868526aab0d0cf93ce30494c",
            "url": "https://gitlab.com/gitlab-org/cli/-/commit/1481403b25a7e54dea0a83b808c0bb4936283cfd",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/grr": {
            "path": "/home/nemo/.local/bin/grr",
            "remote_name": "grr-x86_64",
            "version": "5.0.1",
            "hash": "fe7eb7d67580f425fbd7c302bf30f12a43886cbe5361bd9f979ad21b6a51a42e",
            "url": "https://gitlab.com/legoktm/rust-grr",
            "provider": "gitlab",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/gup": {
            "path": "/home/nemo/.local/bin/gup",
            "remote_name": "gup",
            "version": "v0.27.5",
            "hash": "6bf44db398c0d11ed0d080df208800685b549d11ce1d519423b344ff214f92cc",
            "url": "https://github.com/nao1215/gup",
            "provider": "github",
            "package_path": "gup",
            "pinned": false
        },
        "/home/nemo/.local/bin/jless": {
            "path": "/home/nemo/.local/bin/jless",
            "remote_name": "jless",
            "version": "v0.9.0",
            "hash": "1d25b19fa8e88973370739aaa562b02dbfed46f7d5c71c3ba3e51a9683717d85",
            "url": "https://github.com/PaulJuliusMartinez/jless",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/lazygit": {
            "path": "/home/nemo/.local/bin/lazygit",
            "remote_name": "lazygit",
            "version": "v0.45.0",
            "hash": "226b5f473af6afd9326d10723801b7f8abe9ff10ae6beeaa1efc453be9bd6c27",
            "url": "https://github.com/jesseduffield/lazygit/releases/tag/v0.45.0",
            "provider": "",
            "package_path": "lazygit",
            "pinned": false
        },
        "/home/nemo/.local/bin/llm-ls": {
            "path": "/home/nemo/.local/bin/llm-ls",
            "remote_name": "",
            "version": "0.5.3",
            "hash": "fddf1327c737e0ca7e704abcfdb7960da5aa9617da25502e0f5ac564f01ec39f",
            "url": "https://github.com/huggingface/llm-ls",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/mockery": {
            "path": "/home/nemo/.local/bin/mockery",
            "remote_name": "mockery",
            "version": "v2.50.1",
            "hash": "0b0958c048b66caa10d73fa225e388c967b09474674d074919c583587db8fb33",
            "url": "https://github.com/vektra/mockery/releases/tag/v2.50.1",
            "provider": "",
            "package_path": "mockery",
            "pinned": false
        },
        "/home/nemo/.local/bin/nu": {
            "path": "/home/nemo/.local/bin/nu",
            "remote_name": "nu",
            "version": "0.100.0",
            "hash": "79a6f88cd2a3792bef45f496b9e03225dab30c1d0e85a89a0a1aec3eb0b1f06e",
            "url": "https://github.com/nushell/nushell/releases/tag/0.100.0",
            "provider": "",
            "package_path": "nu-0.100.0-x86_64-unknown-linux-gnu/nu",
            "pinned": false
        },
        "/home/nemo/.local/bin/phpactor.phar": {
            "path": "/home/nemo/.local/bin/phpactor.phar",
            "remote_name": "phpactor.phar",
            "version": "2024.11.28.1",
            "hash": "f22440ae53300a57852e1e0e0de56d0eb185c72bdf337a5b941d6befeaf78e13",
            "url": "https://github.com/phpactor/phpactor/releases/tag/2024.11.28.1",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/taplo": {
            "path": "/home/nemo/.local/bin/taplo",
            "remote_name": "",
            "version": "0.9.3",
            "hash": "e89d2303ea9a5ec07971feec807fa493dc9ab6624c19b313ff90fdede247ee08",
            "url": "https://github.com/tamasfe/taplo",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/tflint": {
            "path": "/home/nemo/.local/bin/tflint",
            "remote_name": "tflint",
            "version": "v0.54.0",
            "hash": "5d9633dcbb4138aaff257a1b4c3f28a60211b6b9be3c35dcf1302070715116ad",
            "url": "https://github.com/terraform-linters/tflint",
            "provider": "github",
            "package_path": "tflint",
            "pinned": false
        },
        "/home/nemo/.local/bin/typos-lsp": {
            "path": "/home/nemo/.local/bin/typos-lsp",
            "remote_name": "typos-lsp",
            "version": "v0.1.32",
            "hash": "5243a48a9841bea86a0819dd044d4c4b46a0bfb23702792f089114d438c987a3",
            "url": "https://github.com/tekumara/typos-lsp/releases/tag/v0.1.32",
            "provider": "",
            "package_path": "typos-lsp",
            "pinned": false
        },
        "/home/nemo/.local/bin/yamlfmt": {
            "path": "/home/nemo/.local/bin/yamlfmt",
            "remote_name": "yamlfmt",
            "version": "v0.14.0",
            "hash": "06cce9da2f31df9e24a957baa470fd05017a1f88a91636ed9db6f6df2d8838c7",
            "url": "https://github.com/google/yamlfmt",
            "provider": "github",
            "package_path": "yamlfmt",
            "pinned": false
        },
        "/home/nemo/.local/bin/yazi": {
            "path": "/home/nemo/.local/bin/yazi",
            "remote_name": "yazi",
            "version": "v0.4.2",
            "hash": "73a3f2f35d00e7600065b3f3763b9060f473ba57554acc887f8cc1106ace94d2",
            "url": "https://github.com/sxyazi/yazi/releases/tag/v0.4.2",
            "provider": "",
            "package_path": "yazi-x86_64-unknown-linux-gnu/yazi",
            "pinned": false
        },
        "/home/nemo/.local/bin/zellij": {
            "path": "/home/nemo/.local/bin/zellij",
            "remote_name": "zellij",
            "version": "v0.41.2",
            "hash": "0e098d1dc4b28892c29a6f3d1b5021a1f212d76a7d9e09828fe7f4ed7d74697d",
            "url": "https://github.com/zellij-org/zellij/releases/tag/v0.41.2",
            "provider": "",
            "package_path": "zellij",
            "pinned": false
        },
        "/home/nemo/.local/bin/zoxide": {
            "path": "/home/nemo/.local/bin/zoxide",
            "remote_name": "zoxide",
            "version": "v0.9.6",
            "hash": "b652df2979a260f1d8abfd0d956ed0a4c7f67827c9ddc07415e862afba0c71b4",
            "url": "https://github.com/ajeetdsouza/zoxide",
            "provider": "github",
            "package_path": "zoxide",
            "pinned": false
        }
    }
}
