{
    "default_path": "/home/nemo/.local/bin",
    "bins": {
        "/home/nemo/.local/bin/amber": {
            "path": "/home/nemo/.local/bin/amber",
            "remote_name": "amber",
            "version": "0.3.5-alpha",
            "hash": "10d1b903ac093addca57c3324282051b63750d83bc45c2184a5f03470ef1976d",
            "url": "https://github.com/amber-lang/amber",
            "provider": "github",
            "package_path": "amber-x86_64-unknown-linux-gnu/amber",
            "pinned": false
        },
        "/home/nemo/.local/bin/bin": {
            "path": "/home/nemo/.local/bin/bin",
            "remote_name": "bin_0.19.0_linux_amd64",
            "version": "v0.19.0",
            "hash": "475cec6a7784099e6eec8d8855f7dff5805189f4da8890d5aa648c9e47a21bde",
            "url": "https://github.com/marcosnils/bin/releases/tag/v0.19.0",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/delta": {
            "path": "/home/nemo/.local/bin/delta",
            "remote_name": "delta",
            "version": "0.18.2",
            "hash": "fad23fba816fec22fc808717a2b4e149d2651e76491f8dd020b4b82d7829a9da",
            "url": "https://github.com/dandavison/delta",
            "provider": "github",
            "package_path": "delta-0.18.2-x86_64-unknown-linux-gnu/delta",
            "pinned": false
        },
        "/home/nemo/.local/bin/glab": {
            "path": "/home/nemo/.local/bin/glab",
            "remote_name": "glab",
            "version": "v1.48.0",
            "hash": "c601a2190302383d9edb05c02582d7aefe8abab7005d9533d1c7378df5b3fa2c",
            "url": "https://gitlab.com/gitlab-org/cli",
            "provider": "gitlab",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/lazygit": {
            "path": "/home/nemo/.local/bin/lazygit",
            "remote_name": "lazygit",
            "version": "v0.44.1",
            "hash": "bd0459d3109304d5bbfa938dbe7f76e68f7c17df948a5d3ea7496c0dbf2748e9",
            "url": "https://github.com/jesseduffield/lazygit",
            "provider": "github",
            "package_path": "lazygit",
            "pinned": false
        },
        "/home/nemo/.local/bin/nu": {
            "path": "/home/nemo/.local/bin/nu",
            "remote_name": "nu",
            "version": "0.99.1",
            "hash": "dd1ca0e5a8575a5b56f32d3d3c504a9e0d4a0fe8689930429993bbf3a5f2f6de",
            "url": "https://github.com/nushell/nushell/releases/tag/0.99.1",
            "provider": "",
            "package_path": "nu-0.99.1-x86_64-unknown-linux-gnu/nu",
            "pinned": false
        },
        "/home/nemo/.local/bin/phpactor.phar": {
            "path": "/home/nemo/.local/bin/phpactor.phar",
            "remote_name": "phpactor.phar",
            "version": "2024.06.30.0",
            "hash": "c6511f94a590e374cfb0ab8c934ed7a3d617d1e03ffdcf7c44d37dd67965c3a6",
            "url": "https://github.com/phpactor/phpactor",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/typos-lsp": {
            "path": "/home/nemo/.local/bin/typos-lsp",
            "remote_name": "typos-lsp",
            "version": "v0.1.29",
            "hash": "901ffff09c70d95f51fd868c0f0d939658b0fc6560b42e0c6a8c670dfbaf0a92",
            "url": "https://github.com/tekumara/typos-lsp/releases/tag/v0.1.29",
            "provider": "",
            "package_path": "typos-lsp",
            "pinned": false
        },
        "/home/nemo/.local/bin/yamlfmt": {
            "path": "/home/nemo/.local/bin/yamlfmt",
            "remote_name": "yamlfmt",
            "version": "v0.14.0",
            "hash": "06cce9da2f31df9e24a957baa470fd05017a1f88a91636ed9db6f6df2d8838c7",
            "url": "https://github.com/google/yamlfmt",
            "provider": "github",
            "package_path": "yamlfmt",
            "pinned": false
        },
        "/home/nemo/.local/bin/yazi": {
            "path": "/home/nemo/.local/bin/yazi",
            "remote_name": "yazi",
            "version": "v0.3.3",
            "hash": "c0a78dd8fd3c74b75394f924a6bd7929c358967cfb578fb9958319c1e6b337d4",
            "url": "https://github.com/sxyazi/yazi/releases/tag/v0.3.3",
            "provider": "",
            "package_path": "yazi-x86_64-unknown-linux-gnu/yazi",
            "pinned": false
        },
        "/home/nemo/.local/bin/zellij": {
            "path": "/home/nemo/.local/bin/zellij",
            "remote_name": "zellij",
            "version": "v0.41.1",
            "hash": "ae4a39ba17191a70c769eba4bb7a47a16d1ddf73a2011ff4b563863da697684e",
            "url": "https://github.com/zellij-org/zellij/releases/tag/v0.41.1",
            "provider": "github",
            "package_path": "zellij",
            "pinned": false
        }
    }
}
