{
    "default_path": "/home/nemo/.local/bin",
    "bins": {
        "/home/nemo/.local/bin/act": {
            "path": "/home/nemo/.local/bin/act",
            "remote_name": "act",
            "version": "v0.2.75",
            "hash": "2fa6292c52cb4533aa4f58f18f978a872512143fb72e7692e231ee7165863a10",
            "url": "https://github.com/nektos/act/releases/tag/v0.2.75",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/amber": {
            "path": "/home/nemo/.local/bin/amber",
            "remote_name": "amber",
            "version": "0.4.0-alpha",
            "hash": "eb007e671ff8598a7797cdfd0b835b18f70dbc6db273b2f165ed7bdc3d559605",
            "url": "https://github.com/amber-lang/amber/releases/tag/0.4.0-alpha",
            "provider": "",
            "package_path": "amber-x86_64-unknown-linux-gnu/amber",
            "pinned": false
        },
        "/home/nemo/.local/bin/aws-iam-authenticator": {
            "path": "/home/nemo/.local/bin/aws-iam-authenticator",
            "remote_name": "aws-iam-authenticator_0.7.3_linux_amd64",
            "version": "v0.7.3",
            "hash": "22fa2f7aa1d1abccbe8b4158dbd078026b015a746881a9a64651f94303eedc37",
            "url": "https://github.com/kubernetes-sigs/aws-iam-authenticator/releases/tag/v0.7.3",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/bin": {
            "path": "/home/nemo/.local/bin/bin",
            "remote_name": "bin_0.21.2_linux_amd64",
            "version": "v0.21.2",
            "hash": "33cb0c85c0d9366460dd31967a6720a5416a4785efcd1b8232ef8b96b8f7a6f2",
            "url": "https://github.com/marcosnils/bin/releases/tag/v0.21.2",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/broot": {
            "path": "/home/nemo/.local/bin/broot",
            "remote_name": "broot",
            "version": "v1.45.0",
            "hash": "e83f440255011a5d90e48486a2bc738b8ba4e6afbf25ba5123918f6397f0731f",
            "url": "https://github.com/Canop/broot/releases/tag/v1.45.0",
            "provider": "",
            "package_path": "x86_64-linux/broot",
            "pinned": false
        },
        "/home/nemo/.local/bin/bshchk": {
            "path": "/home/nemo/.local/bin/bshchk",
            "remote_name": "bshchk.linux.amd64",
            "version": "1.1",
            "hash": "c0b5b1d7062c7611f0ff78d5c645b7a01aa06e3c5e2f144b6d19158a952ed315",
            "url": "https://github.com/b1ek/bshchk",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/calicoctl": {
            "path": "/home/nemo/.local/bin/calicoctl",
            "remote_name": "calicoctl-linux-amd64",
            "version": "v3.29.2",
            "hash": "6076d6745c4d60c0c4322961cbb256a0ffa8476cf7f8dbe5de4ae82c55bca020",
            "url": "https://github.com/projectcalico/calico",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/code-minimap": {
            "path": "/home/nemo/.local/bin/code-minimap",
            "remote_name": "code-minimap",
            "version": "v0.6.8",
            "hash": "3308e1a5565f6a2049fc0ff90119049264b2d23182a440e5156e76248e413131",
            "url": "https://github.com/wfxr/code-minimap",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/delta": {
            "path": "/home/nemo/.local/bin/delta",
            "remote_name": "delta",
            "version": "0.18.2",
            "hash": "fad23fba816fec22fc808717a2b4e149d2651e76491f8dd020b4b82d7829a9da",
            "url": "https://github.com/dandavison/delta",
            "provider": "github",
            "package_path": "delta-0.18.2-x86_64-unknown-linux-gnu/delta",
            "pinned": false
        },
        "/home/nemo/.local/bin/dua": {
            "path": "/home/nemo/.local/bin/dua",
            "remote_name": "dua",
            "version": "v2.30.1",
            "hash": "9cb5e75e2ba7600b1eea713c737837b00a37eb5a19529af4beb0322ff4943872",
            "url": "https://github.com/Byron/dua-cli/releases/tag/v2.30.1",
            "provider": "",
            "package_path": "dua-v2.30.1-x86_64-unknown-linux-musl/dua",
            "pinned": false
        },
        "/home/nemo/.local/bin/eza": {
            "path": "/home/nemo/.local/bin/eza",
            "remote_name": "eza",
            "version": "v0.20.24",
            "hash": "ac7a0234b6d34456d3609efc00e417aec3088013f5c4cfe77501ef604e5b836a",
            "url": "https://github.com/eza-community/eza/releases/tag/v0.20.24",
            "provider": "",
            "package_path": "eza",
            "pinned": false
        },
        "/home/nemo/.local/bin/gh": {
            "path": "/home/nemo/.local/bin/gh",
            "remote_name": "gh",
            "version": "v2.75.0",
            "hash": "9c77b7d4d38be3f0e4c5656c6acfa916c8d24d7274d287447c5a12e468e44343",
            "url": "https://github.com/cli/cli",
            "provider": "github",
            "package_path": "gh_2.75.0_linux_amd64/bin/gh",
            "pinned": false
        },
        "/home/nemo/.local/bin/glow": {
            "path": "/home/nemo/.local/bin/glow",
            "remote_name": "glow",
            "version": "v2.1.1",
            "hash": "ea8dfc54d878653b07e0e283d7155b48cb0dca3fe11683f7d5e40d3b567eadcf",
            "url": "https://github.com/charmbracelet/glow/releases/tag/v2.1.1",
            "provider": "",
            "package_path": "glow_2.1.1_Linux_x86_64/glow",
            "pinned": false
        },
        "/home/nemo/.local/bin/grr": {
            "path": "/home/nemo/.local/bin/grr",
            "remote_name": "grr-x86_64",
            "version": "5.0.1",
            "hash": "fe7eb7d67580f425fbd7c302bf30f12a43886cbe5361bd9f979ad21b6a51a42e",
            "url": "https://gitlab.com/legoktm/rust-grr",
            "provider": "gitlab",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/gup": {
            "path": "/home/nemo/.local/bin/gup",
            "remote_name": "gup",
            "version": "v0.27.8",
            "hash": "7ce0608191be40d99418e48279a30384f600fa3180e0e39ab5dc67949a01f3c3",
            "url": "https://github.com/nao1215/gup/releases/tag/v0.27.8",
            "provider": "",
            "package_path": "gup",
            "pinned": false
        },
        "/home/nemo/.local/bin/jless": {
            "path": "/home/nemo/.local/bin/jless",
            "remote_name": "jless",
            "version": "v0.9.0",
            "hash": "1d25b19fa8e88973370739aaa562b02dbfed46f7d5c71c3ba3e51a9683717d85",
            "url": "https://github.com/PaulJuliusMartinez/jless",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/kustomize": {
            "path": "/home/nemo/.local/bin/kustomize",
            "remote_name": "kustomize",
            "version": "kustomize/v5.6.0",
            "hash": "d49fea900c65e73270a00e66ff0320001db7f5e94472638a0b8a7f548c3fd4f6",
            "url": "https://github.com/kubernetes-sigs/kustomize",
            "provider": "github",
            "package_path": "kustomize",
            "pinned": false
        },
        "/home/nemo/.local/bin/lazygit": {
            "path": "/home/nemo/.local/bin/lazygit",
            "remote_name": "lazygit",
            "version": "v0.53.0",
            "hash": "ab5ab7a72b2703aa564e49c2767cd888db73b22b4164e075fa03ee4a6dfe1e15",
            "url": "https://github.com/jesseduffield/lazygit/releases/tag/v0.53.0",
            "provider": "",
            "package_path": "lazygit",
            "pinned": false
        },
        "/home/nemo/.local/bin/llm-ls": {
            "path": "/home/nemo/.local/bin/llm-ls",
            "remote_name": "",
            "version": "0.5.3",
            "hash": "fddf1327c737e0ca7e704abcfdb7960da5aa9617da25502e0f5ac564f01ec39f",
            "url": "https://github.com/huggingface/llm-ls",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/lsp-ai": {
            "path": "/home/nemo/.local/bin/lsp-ai",
            "remote_name": "lsp-ai",
            "version": "v0.7.1",
            "hash": "",
            "url": "https://github.com/SilasMarvin/lsp-ai/releases/tag/v0.7.1",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/markdown-oxide-unknown-gnu": {
            "path": "/home/nemo/.local/bin/markdown-oxide-unknown-gnu",
            "remote_name": "markdown-oxide-v0.25.2-x86_64-unknown-linux-gnu",
            "version": "v0.25.2",
            "hash": "30b21f14e3effcbad87671963a78f88a7c4209a5d44d68e1f0195caa7859dcb1",
            "url": "https://github.com/Feel-ix-343/markdown-oxide",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/marksman": {
            "path": "/home/nemo/.local/bin/marksman",
            "remote_name": "marksman-linux-x64",
            "version": "2024-12-18",
            "hash": "b9cb666c643dfd9b699811fdfc445ed4c56be65c1d878c21d46847f0d7b0e475",
            "url": "https://github.com/artempyanykh/marksman",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/mermaid-ascii": {
            "path": "/home/nemo/.local/bin/mermaid-ascii",
            "remote_name": "mermaid-ascii",
            "version": "0.6.0",
            "hash": "e1d78848c2c6a6b14c99d090b1bd91b8bde824c5f34dab7686f3dfd7599ed035",
            "url": "https://github.com/AlexanderGrooff/mermaid-ascii",
            "provider": "github",
            "package_path": "mermaid-ascii",
            "pinned": false
        },
        "/home/nemo/.local/bin/mockery": {
            "path": "/home/nemo/.local/bin/mockery",
            "remote_name": "mockery",
            "version": "v2.53.3",
            "hash": "0f20a352a1846b3ee911af22416129f1ff25525ebe70fc1c2736e2b768856770",
            "url": "https://github.com/vektra/mockery/releases/tag/v2.53.3",
            "provider": "",
            "package_path": "mockery",
            "pinned": false
        },
        "/home/nemo/.local/bin/nu": {
            "path": "/home/nemo/.local/bin/nu",
            "remote_name": "nu",
            "version": "0.103.0",
            "hash": "28bd03d993f525f7c07465320641040b694f13f3666a57f496c94f45f988334a",
            "url": "https://github.com/nushell/nushell/releases/tag/0.103.0",
            "provider": "",
            "package_path": "nu-0.103.0-x86_64-unknown-linux-gnu/nu",
            "pinned": false
        },
        "/home/nemo/.local/bin/opencode": {
            "path": "/home/nemo/.local/bin/opencode",
            "remote_name": "opencode",
            "version": "v0.0.55",
            "hash": "f7fe18703f9d0cc2352d0a94c8c62bfd378b6681e017a2bbf78c2ecadad75544",
            "url": "https://github.com/opencode-ai/opencode",
            "provider": "github",
            "package_path": "opencode",
            "pinned": false
        },
        "/home/nemo/.local/bin/phpactor.phar": {
            "path": "/home/nemo/.local/bin/phpactor.phar",
            "remote_name": "phpactor.phar",
            "version": "2025.04.17.0",
            "hash": "ac61687edc02a9fae5902600718ada163760bedc08f6cc9e09a69bd69b8d997e",
            "url": "https://github.com/phpactor/phpactor/releases/tag/2025.04.17.0",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/saml2aws": {
            "path": "/home/nemo/.local/bin/saml2aws",
            "remote_name": "saml2aws",
            "version": "v2.36.19",
            "hash": "ca8ec4da5566bef409c8c582da3cf9f22a8d5e18f7dcba25aeb9670f1ea98980",
            "url": "https://github.com/Versent/saml2aws",
            "provider": "github",
            "package_path": "saml2aws",
            "pinned": false
        },
        "/home/nemo/.local/bin/starship": {
            "path": "/home/nemo/.local/bin/starship",
            "remote_name": "starship",
            "version": "v1.23.0",
            "hash": "a66fd858b373c233b97564d22a29823d2dfa6e5f550585a5440a56da1250baa0",
            "url": "https://github.com/starship/starship/releases/tag/v1.23.0",
            "provider": "",
            "package_path": "starship",
            "pinned": false
        },
        "/home/nemo/.local/bin/switcher": {
            "path": "/home/nemo/.local/bin/switcher",
            "remote_name": "switcher_linux_amd64",
            "version": "0.9.3",
            "hash": "8554ac5b8767ec337025e01d468bcf9e90be56a0b23891bbb47ecfe4191fa56f",
            "url": "https://github.com/danielfoehrKn/kubeswitch",
            "provider": "github",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/taplo": {
            "path": "/home/nemo/.local/bin/taplo",
            "remote_name": "",
            "version": "0.9.3",
            "hash": "e89d2303ea9a5ec07971feec807fa493dc9ab6624c19b313ff90fdede247ee08",
            "url": "https://github.com/tamasfe/taplo",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/terraform": {
            "path": "/home/nemo/.local/bin/terraform",
            "remote_name": "terraform",
            "version": "1.12.2",
            "hash": "af13e0da54d9d28373e89ace168e34d5de7bf54213355eef772ae8a81b372fa8",
            "url": "https://releases.hashicorp.com/terraform/1.12.2/index.json",
            "provider": "",
            "package_path": "",
            "pinned": false
        },
        "/home/nemo/.local/bin/tflint": {
            "path": "/home/nemo/.local/bin/tflint",
            "remote_name": "tflint",
            "version": "v0.58.0",
            "hash": "ab958fbfe2d268c13aecfbd477c9ca61fe61f3a1d9967d4b5b185cfe8d4e638a",
            "url": "https://github.com/terraform-linters/tflint/releases/tag/v0.58.0",
            "provider": "",
            "package_path": "tflint",
            "pinned": false
        },
        "/home/nemo/.local/bin/typos-lsp": {
            "path": "/home/nemo/.local/bin/typos-lsp",
            "remote_name": "typos-lsp",
            "version": "v0.1.39",
            "hash": "6521223d73c164bdf5f6cd35be765b2cb79146f5080571f0323ef2432bca415a",
            "url": "https://github.com/tekumara/typos-lsp/releases/tag/v0.1.39",
            "provider": "",
            "package_path": "typos-lsp",
            "pinned": false
        },
        "/home/nemo/.local/bin/yamlfmt": {
            "path": "/home/nemo/.local/bin/yamlfmt",
            "remote_name": "yamlfmt",
            "version": "v0.17.2",
            "hash": "1d9e3c669ea94b38ed522c4b73ee73a61ef2eedcd2cf6b88c0e7123b23ad2e95",
            "url": "https://github.com/google/yamlfmt/releases/tag/v0.17.2",
            "provider": "",
            "package_path": "yamlfmt",
            "pinned": false
        },
        "/home/nemo/.local/bin/yazi": {
            "path": "/home/nemo/.local/bin/yazi",
            "remote_name": "yazi",
            "version": "v25.5.31",
            "hash": "ddc761120ccc7e70dc074738d8a5bfc507dffde4cf3da8d2d914d81fcbeda481",
            "url": "https://github.com/sxyazi/yazi/releases/tag/v25.5.31",
            "provider": "",
            "package_path": "yazi-x86_64-unknown-linux-gnu/yazi",
            "pinned": false
        },
        "/home/nemo/.local/bin/zellij": {
            "path": "/home/nemo/.local/bin/zellij",
            "remote_name": "zellij",
            "version": "v0.42.2",
            "hash": "d92a8ccf1b79939fbd8e7f843731bea3a56880471b37517af7d6103125e7f991",
            "url": "https://github.com/zellij-org/zellij/releases/tag/v0.42.2",
            "provider": "",
            "package_path": "zellij",
            "pinned": false
        },
        "/home/nemo/.local/bin/zoxide": {
            "path": "/home/nemo/.local/bin/zoxide",
            "remote_name": "zoxide",
            "version": "v0.9.8",
            "hash": "a55e651f93824e68058938dfb1dd12e34ace0712553cee35df2fd853726cd49b",
            "url": "https://github.com/ajeetdsouza/zoxide/releases/tag/v0.9.8",
            "provider": "",
            "package_path": "zoxide",
            "pinned": false
        }
    }
}
